body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

nav ul {
  margin: 16px 0 0 5px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  color: #646B70;
}

nav li a span {
  color: #000;
}

.backgroundImage {
  width: 100%;
  height: 400px;
  background: url('images/background.jpg');
  margin-top: 10px;
  position: relative;
}

.backgroundText {
  position: absolute;
  top: 168px;
  left: 448px;
}

.simplePricing {
  color: #fff;
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.try {
  color: #fff;
  font-size: 47px;
  text-align: center; 
  text-shadow: 1px 1px 1px #000; 
}

.list {
  margin: 46px 0 0 156px;
}

.priceList {
  display: inline-block;
  width: 302px;
  margin-left: 16px;
}

.priceList li {
  border: 1px solid #D7DAD7;
  text-align: center;
  padding: 13px;
  background: #F6F6F6;
}

.price {
  border: 1px solid #D7DAD7;
  height: 220px;
}

.hosttype {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 24px;
}

.dollar {
  text-align: center;
  color: #fff;
  font-size: 100px;
}

.price span {
  font-size: 100px;
}

.perMonth {
  color: #fff;
  opacity: 0.5;
  margin-left: 96px;
  position: absolute;
  top: 657px;
  font-size: 18px;
}

li.choose {
  background: #fff;
  padding: 26px;
}

li.choose button {
  background: #fff;
  border: 1px solid #D8D8D8;
  border-radius: 20px;
  padding: 8px;
  width: 88px;
  font-weight: bold;
}

.firstcolumn {
  background: #519250;
}

.secondcolumn {
  background: #2A4787;
}

.thirdcolumn {
  background: #101010;
}

.infoColumn {
  margin: 45px 0 0 20px;
}

.firstRow {
  float: left;
  width: 445px;
  margin-left: 200px;
}

.secondRow {
  float: left;
  width: 425px;
  margin-left: 59px;
}

.Unsplash {
  margin-top: 400px;
  text-align: center;
  background: #000;
  color: #7D7D7D;
}













