body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 19px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/*Navigation Area*/

nav ul {
  margin: 16px 0 0 5px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  color: #646B70;
}

nav li a span {
  color: #000;
}

/*Background Image Area*/

.backgroundImage {
  width: 100%;
  height: 400px;
  background: url('images/background.jpg');
  margin-top: 10px;
  position: relative;
}

.backgroundText {
  position: absolute;
  top: 168px;
  left: 453px;
}

.simplePricing {
  color: #fff;
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.try {
  color: #fff;
  font-size: 47px;
  text-align: center; 
  text-shadow: 1px 1px 1px #000; 
}

/*Price Plans*/

.list {
  margin: 46px 0 0 156px;
}

.priceList {
  display: inline-block;
  width: 302px;
  margin-left: 16px;
}

.priceList li {
  border: 1px solid #D7DAD7;
  text-align: center;
  padding: 13px;
  background: #F6F6F6;
}

.price {
  border: 1px solid #D7DAD7;
  height: 220px;
}

.hosttype {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 24px;
}

.dollar {
  text-align: center;
  color: #fff;
  font-size: 100px;
}

.price span {
  font-size: 100px;
}

.perMonth {
  color: #fff;
  opacity: 0.5;
  margin-left: 96px;
  position: absolute;
  top: 657px;
  font-size: 18px;
}

li.choose {
  background: #fff;
  padding: 26px;
}

li.choose button {
  background: #fff;
  border: 1px solid #D8D8D8;
  border-radius: 20px;
  padding: 8px;
  width: 88px;
  font-weight: bold;
}

.firstcolumn {
  background: #519250;
}

.secondcolumn {
  background: #2A4787;
}

.thirdcolumn {
  background: #101010;
}

.infoColumns {
  position: relative; 
  margin-left: 20px;
  color: #707B80;
}

/*Information Columns*/

.infoColumns h3 {
  color: #060606;
  letter-spacing: 2px;
}

.infoColumns p {
  line-height: 160%;
  font-size: 14px;
}

.column1 {
  position: absolute;
  top: 53px;
  left: 173px;
  width: 427px;
}

.column2top {
  position: absolute;
  top: 292px;
  left: 173px;
  width: 427px;
}

.column2 {
  position: absolute;
  top: 53px;
  right: 171px;
  width: 427px;
}

.column2bottom {
  position: absolute;
  width: 427px;
  right: 171px;
  top: 292px;
}

/*Footer Area*/

.Unsplash {
  margin-top: 511px;
  text-align: center;
  background: #000;
  color: #7D7D7D;
  padding: 26px;
}

.Unsplash a {
  color: #fff;
  text-decoration: underline;
}











